
VAPID_PUBLIC_KEY=BOfl7xKDxeKmgOb4J1QynJTpBjjZmayroAbkMK0SPng9kLWUL39SL1-gix30hOSQaNU7ZN84uO6ldyWvdlqC8g8
VAPID_PRIVATE_KEY=rFMKEtGhOI_FzN-URhvaiat7lWb_GIMDNkIsSjbQeYM
VAPID_SUBJECT=mailto:praveenseenu629@gmail.com

NEXT_PUBLIC_VAPID_PUBLIC_KEY=BOfl7xKDxeKmgOb4J1QynJTpBjjZmayroAbkMK0SPng9kLWUL39SL1-gix30hOSQaNU7ZN84uO6ldyWvdlqC8g8